<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/investigacion_en_asesoria/blob/main/2_secuencia_accion/2_Dise%C3%B1o_Proceso_IAE/Intervencion/8_r_estadistica/encuesta_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/investigacion_en_asesoria/blob/main/2_secuencia_accion/2_Dise%C3%B1o_Proceso_IAE/Intervencion/8_r_estadistica/encuesta_1.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

In [1]:
#funcion para generar qr

# Encuestas sobre uso de redes sociales

## F칩rmulas asociadas al an치lisis descriptivo de variables cualitativas continuas  

Dame, por favor, las f칩rmulas asociadas al an치lisis descriptivo de variables cualitativas continuas.  

Marco, te hago una precisi칩n importante:
las **variables cualitativas** (nominales u ordinales) **no son continuas**.

游녤 Una variable **cualitativa** describe categor칤as o cualidades (ejemplo: g칠nero, color, estado civil).
游녤 Una variable **cuantitativa continua** describe magnitudes num칠ricas que pueden tomar infinitos valores en un intervalo (ejemplo: altura, peso, temperatura).

Entonces, para ser fiel al an치lisis estad칤stico, hay **dos casos distintos**:

---

## 游댳 1. Variables cualitativas (nominales u ordinales)

En an치lisis descriptivo usamos **frecuencias y porcentajes**:

* **Frecuencia absoluta**:

$$
f_i = \text{n칰mero de observaciones en la categor칤a } i
$$

* **Frecuencia relativa**:

$$
h_i = \frac{f_i}{n}
$$

* **Frecuencia acumulada (en ordinales)**:

$$
F_i = \sum_{j=1}^{i} f_j
$$

* **Frecuencia relativa acumulada**:

$$
H_i = \sum_{j=1}^{i} h_j
$$

Donde $n$ es el tama침o total de la muestra.

游댲 Adem치s, se suelen usar medidas de **tendencia central y dispersi칩n categ칩rica**:

* **Moda**: categor칤a con mayor frecuencia.
* **칈ndice de diversidad de Simpson**:

$$
D = 1 - \sum_{i=1}^k h_i^2
$$


* **칈ndice de entrop칤a (Shannon)**:

$$
H = - \sum_{i=1}^k h_i \log(h_i)
$$

---

## 游댳 2. Variables cuantitativas continuas

En este caso se construyen **intervalos de clase** y se aplican f칩rmulas de frecuencias:

* **Punto medio de la clase**:

$$
x_i = \frac{L_i + L_{i+1}}{2}
$$

* **Frecuencia absoluta de la clase**:

$$
f_i = \text{n칰mero de observaciones en el intervalo } i
$$

* **Frecuencia relativa**:

$$
h_i = \frac{f_i}{n}
$$

* **Frecuencia acumulada**:

$$
F_i = \sum_{j=1}^{i} f_j
$$

* **Frecuencia relativa acumulada**:

$$
H_i = \sum_{j=1}^{i} h_j
$$


Con estas frecuencias, luego se calculan medidas cl치sicas de posici칩n y dispersi칩n (media, varianza, desviaci칩n t칤pica, percentiles, etc.).

---


Pregunta para ti:
쯈uieres que te prepare una **tabla comparativa** con las f칩rmulas de an치lisis descriptivo para **variables cualitativas** y para **cuantitativas continuas** (para que te sirva de gu칤a en tus clases)?

# Construcci칩n de la tabla de distribuci칩n de frecuencias para variable cuentitativa continua

In [6]:
import pandas as pd 

df = pd.read_csv("encuesta_redes_sociales.csv")
df.index = range(1, len(df) + 1)

In [18]:
df.head(15)

   Tiempo de redes sociales  Tiempo_horas
0                      1:30          1.50
1                      2:15          2.25
2                      0:45          0.75
3                      3:10          3.17
4                      2:50          2.83
5                      1:40          1.67
6                      2:05          2.08
7                      1:55          1.92
8                      0:30          0.50
9                      3:20          3.33
10                     2:25          2.42
11                     1:15          1.25
12                     2:35          2.58
13                     3:05          3.08
14                     1:50          1.83

In [11]:
# Convertir la columna "Tiempo de redes sociales" de "hora:minutos" a horas en formato float
df['Tiempo_horas'] = df['Tiempo de redes sociales'].apply(
    lambda x: int(x.split(':')[0]) + int(x.split(':')[1]) / 60
).round(2)

In [17]:
df.head(15)

   Tiempo de redes sociales  Tiempo_horas
0                      1:30          1.50
1                      2:15          2.25
2                      0:45          0.75
3                      3:10          3.17
4                      2:50          2.83
5                      1:40          1.67
6                      2:05          2.08
7                      1:55          1.92
8                      0:30          0.50
9                      3:20          3.33
10                     2:25          2.42
11                     1:15          1.25
12                     2:35          2.58
13                     3:05          3.08
14                     1:50          1.83

In [10]:
df.to_excel("encuesta_redes_sociales.xlsx", index=False)

In [19]:
# Rango
print(f"Rango: {range_val}")

# N칰mero de clases
print(f"N칰mero de clases (k): {k}")

# Amplitud
print(f"Amplitud: {amplitud}")

# Marca de clase para cada intervalo
marca_clase = [(bins[i] + bins[i+1]) / 2 for i in range(len(bins)-1)]
print("Marca de clase por intervalo:")
for label, mc in zip(labels, marca_clase):
    print(f"{label}: {mc}")

Rango: 6.25
N칰mero de clases (k): 5
Amplitud: 2.0
Marca de clase por intervalo:
2.25 - 4.25: 3.25
4.25 - 6.25: 5.25
6.25 - 8.25: 7.25
8.25 - 10.25: 9.25

In [20]:
import numpy as np

a = np.array([1, 2, 3])
b = np.array([3, 4, -1])

np. cross(a, b)

array([-14,  10,  -2])